<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <bean id = "callerTuneServiceObj" class= "com.springcore.CallerTuneAlertService"/>
    <bean id= "missedCallServiceObj" class= "com.springcore.MissedCallAlertService"/>
    <bean id = "dataPackServiceObj" class= "com.springcore.DataPackAlertService"/>
    
    <bean id="airtel" class= "com.springcore.Airtel">
        <property name="simService" ref= "dataPackServiceObj"/>
    </bean>

</beans>